/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import "materialize";

body {
  font-family: 'Roboto', serif;
  background-color: #e8edf3;
  // overflow: hidden;
}

nav {
  color: #141414;
  background-color: white;
  position: relative;
}

nav ul {
  margin: 8px;
  margin-top: -1px;
}

nav ul li {
  margin-top: -3px;
}

nav .nav-wrapper {
  background-color: white;
  color: #141414;
  height: 105%;
}

a.navbar-brand {
  position: absolute;
  color: #141414;
  font-size: 2rem;
  margin-left: 10px;
  margin-top: -1px;
  font-family: 'Comfortaa';

}

nav ul a {
  color: #141414;
  font-size: 1.3rem;
  display: inline;
  padding-bottom: 14px;
}

nav ul a:hover {
    border-bottom: 3px solid #141414;
    background-color: white;
    line-height: 2.5;
}

nav .nav-wrapper.pitch {
  background-color: #444;
  color: white;
  font-size: 15px;
}

ul#nav-mobile p {
  font-size: 16px;
  margin-top: 4px;
}
.boom {
  margin-left: 40px;
  margin-left: 15%;
  margin-top: .5%;
}
.waves-input-wrapper .waves-button-input {
  color: white;
}

.waves-effect input[type="submit"] {
  font-size: 14px;
  text-transform: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

a.cyan.btn {
  font-size: 14px;
  text-transform: none;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  margin-right: -9px;
  border: none;
}

.right.hide-on-med-and-down {
  margin-right: 125px;
}


.fa-book:before {
    content: "\f02d";
    margin-left: 20px;
}

.field {
  width: 75%;
  color: #444;;
  margin-left: 13%;
}

.landing {
  color: #444;;
  margin: 1.5rem 0 1rem 0;
  font-size: 12px;
  height: 300px;
  width: 289px;
  margin-right: 14px;
}

.card .card-title {
  font-size: 16px;
}

.card-content.black-text {
  display: inline-flex;
  flex-wrap: wrap;
}

.actions {
  margin-top: 10px;
}

.actions a {
  color: #444;;
padding: 9px;
font-family: inherit;
font-size: 20px;
border-radius: 3px;
border: 3px solid #444;;
}

.card .fa-arrow-left {
    color: #444;;
    margin-right: 95%;
}

.cancel {
    margin-top: 10px;
}

.cancel a {
  color: #444;;
  margin-top: 10px;
}

input {
  background-color: white;
  color: #444;;
padding: 9px;
font-family: inherit;
font-size: 20px;
border-radius: 3px;
border: 3px solid #444;;
}

//modal
.mod {
  margin-top: -24px;
}

.mod p {
  font-size: 14px;
}

#modal1 {
  border-radius: 2px;

}
#modal10.modal.open {
  width: 55%;
  height: 900px !important;
  border-radius: 6px;
  max-height: 80% !important;
}

.row .col.offset-s6 {
    margin-left: 50%;
    margin-top: -36%;
}

.only {
  height: 100%;
}

.reviewb {
  position: fixed;
  bottom: 10px;
}

.resource-button {
  position: fixed;
  bottom: 10px;
  margin-left: 12%;
}

.resource-edit-button {
  position: fixed;
  bottom: 10px;
  margin-left: 2%;
}
